<!-- project/templates/project/league_stats.html -->

{% extends 'project/base.html' %}

{% block content %}

<h2>League Stats</h2>

<form method="get">
    <input type="text" name="team_name" placeholder="Search by Team Name" value="{{ team_name }}">
    <button type="submit">Search</button>
</form>

<!-- table and loop which will display all the games which were played - filter logic is included in the view
 so you can search by team name... -->
<table>
    <thead>
        <tr>
            <th>Date</th>
            <th>Team 1</th>
            <th>Team 2</th>
            <th>Score</th>
            <th>Winner</th>
        </tr>
    </thead>
    <tbody>
        {% for game in games %}
        <tr>
            <td>{{ game.date|date:"m/d/Y" }}</td>
            <td>{{ game.team1 }}</td>
            <td>{{ game.team2 }}</td>
            <td>{{ game.points_scored_team1 }} - {{ game.points_scored_team2 }}</td>
            <td>{{ game.winner }}</td>
        </tr>
        {% empty %}
        <tr>
            <td colspan="5">No games found.</td>
        </tr>
        {% endfor %}
    </tbody>
</table>


<!-- table and loop which will also show the standings -->
<h2>Team Standings</h2>
<table>
    <thead>
        <tr>
            <th>Rank</th>
            <th>Team</th>
            <th>Wins</th>
            <th>Losses</th>
        </tr>
    </thead>
    <tbody>
        {% for team in teams %}
        <tr>
            <td>{{ team.place_in_standings }}</td>
            <td>{{ team.city }} {{ team.name }}</td>
            <td>{{ team.wins }}</td>
            <td>{{ team.losses }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<a href="{% url 'league_management' league.pk %}">Back to Management</a>

{% endblock %}
